<div class="sc-gsxnyZ eMyRzl"><div class="sc-gsTCUz bhdLno"><h3 class="sc-dlfnbm eFXxew">New Arrivals</h3><div class="sc-hKgILt jIlrKS"><a routerLink="/AllProduct">Shop Now</a></div></div></div>
<div class="row">
        <div  style="display: flex;" class="productContainer col-md-3" *ngFor="let newArrival of newArrivals"><a 
            routerLink="productPage/{{newArrival.id}}"
             
                id="productBox-N14428169A">
                <div class="kcs0h5-0 diNcmV grid"  title="Parachute 100% Pure Coconut Oil 200ml ">
                    <div class="e3js0d-0 cVjNKv">
                        <div data-qa-id="productImagePLP_100% Pure Coconut Oil 200ml ">
                            <div class="sc-1xjgu8-0 jRkpWF">
                                <div class="lazyload-wrapper">
                                    <div class="sc-1xjgu8-2 lgLLLe"><img width="100%" height="100%"
                                        src='http://localhost:61135/Resources/Images/{{newArrival.mainImage}}' 
                                            alt="100% Pure Coconut Oil 200ml "></div>
                                </div>
                            </div>
                        </div>
                        <div class="e3js0d-1 efqIDW"><button type="button" class="e3js0d-3 lcZUZz" (click)="addToWishist(newArrival.id)"><img
                                    src="https://z.nooncdn.com/s/app/com/noon/icons/wishlist.svg"
                                    alt="wishlist"></button></div>
                        <div class="e3js0d-4 gXZEZv"></div>
                    </div>
                    <div class="e3js0d-6 iKEZJh">
                        <div data-qa="product-name" class="e3js0d-7 jULUCI"><span width="0"><span>
                                    <span>
                                        {{newArrival.name}}</span><br></span><span
                                    style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span></span>
                        </div>
                        <div class="e3js0d-8 jtiosv">
                            <div class="sxpmji-0 cZUObc">
                                <div class="sxpmji-1 dCYttU"><span class="currency">EGP
                                    </span><strong>{{newArrival.price}}$</strong>
                                </div>
                                <div class="sxpmji-2 fCLCee"><span class="oldPrice">EGP 190</span><span
                                        class="discount">48% Off</span></div>
                            </div>
                        </div>
                        <div class="e3js0d-9 kDpjlW">
                            <div data-qa="product-noon-express" class="e3js0d-10 dSISfG">
                                <div class="u8zs36-0 kRPdZJ"><img
                                        src="https://z.nooncdn.com/s/app/com/noon/images/fulfilment_express_v2-en.svg"
                                        alt="noon-express" height="20px" width="80px"></div>
                                <div class="e3js0d-11 ktDxXK">
                                    <div class="v8jvnr-0 cEdiKJ"><svg width="12" height="12" viewBox="0 0 12 12"
                                            fill="none" xmlns="http://www.w3.org/2000/svg" class="oneStar">
                                            <path
                                                d="M11.7519 5.34021L9.33396 7.42268C9.19635 7.54639 9.11772 7.75258 9.17669 7.93814L9.90404 11.0722C10.0023 11.5876 9.64848 12 9.23567 12C9.11772 12 8.98011 11.9588 8.86217 11.8763L6.22801 10.1649C6.07075 10.0619 5.87417 10.0619 5.7169 10.1649L3.1024 11.8557C2.98446 11.9381 2.84685 11.9794 2.7289 11.9794C2.31609 11.9794 1.92293 11.567 2.06053 11.0515L2.78788 7.91753C2.82719 7.73196 2.76822 7.52577 2.63061 7.40206L0.252007 5.34021C-0.23944 4.90722 0.0357703 4.06186 0.664823 4.02062L3.75111 3.79381C3.92803 3.7732 4.0853 3.64948 4.16393 3.48454L5.3434 0.474227C5.46135 0.164949 5.73656 0 6.01177 0C6.28698 0 6.56219 0.164949 6.68014 0.474227L7.85961 3.48454C7.93825 3.6701 8.09551 3.79381 8.27243 3.79381L11.3587 4.02062C11.9485 4.06186 12.2433 4.90722 11.7519 5.34021Z"
                                                fill="#f5a523"></path>
                                        </svg><span class="ratingValue">4.5</span><span class="ratingCount"><svg
                                                width="3" height="10" viewBox="0 0 3 11" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M2.244 10.188C1.464 8.676 0.984 7.296 0.984 5.304C0.984 3.3 1.464 1.932 2.244 0.408L1.692 0C0.612 1.488 0 3.372 0 5.304C0 7.236 0.612 9.12 1.692 10.608L2.244 10.188Z"
                                                    fill="currentColor"></path>
                                            </svg><span class="count">46</span><svg width="3" height="10"
                                                viewBox="0 0 3 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                style="transform: scaleX(-1);">
                                                <path
                                                    d="M2.244 10.188C1.464 8.676 0.984 7.296 0.984 5.304C0.984 3.3 1.464 1.932 2.244 0.408L1.692 0C0.612 1.488 0 3.372 0 5.304C0 7.236 0.612 9.12 1.692 10.608L2.244 10.188Z"
                                                    fill="currentColor"></path>
                                            </svg></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a></div>
</div>