<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<div class="sc-gsxnyZ eMyRzl"><div class="sc-gsTCUz bhdLno"><h3 class="sc-dlfnbm eFXxew">New Arrivals</h3><div class="sc-hKgILt jIlrKS"><a routerLink="/AllProduct">Shop Now</a></div></div></div>
<owl-carousel-o [options]="customOptions" >
	<ng-template carouselSlide *ngFor="let product of newArrivals" >
	  <div class="slide">
		<div class="swiper-slide" style="width: 182.8px; margin-right: 15px;text-decoration: none;display: inline-block;" >
			<div class="sc-bXDlPE jFuWAH" >
					<div class="kcs0h5-0 diNcmV grid" title="GRACO Evo Travel System Mineral ">
						<div class="e3js0d-0 cVjNKv">
							<div data-qa-id="productImagePLP_Evo Travel System Mineral ">
								<div class="sc-1xjgu8-0 jRkpWF">
									<div class="lazyload-wrapper">
										<a  routerLink="productPage/{{product.id}}" id="productBox-N43459560A">
										<div class="sc-1xjgu8-2 lgLLLe">
											<img width="100%" height="100%" src="http://localhost:61135/Resources/Images/{{product.mainImage}}" alt="Evo Travel System Mineral ">
										</div>
									     </a>
										</div>
										</div>
									</div>
									</div></div></div><div class="e3js0d-1 efqIDW">
											<button type="button" class="e3js0d-3 yzKfW" (click)="addToWishist(product.id)">
												<img src="https://z.nooncdn.com/s/app/com/noon/icons/wishlist.svg" alt="wishlist">
											</button></div><div class="e3js0d-4 gXZEZv">

											</div></div><div class="e3js0d-6 iKEZJh">
												<div data-qa="product-name" class="e3js0d-7 jULUCI">
													<span width="0"><span>
														<span>{{product.name}}</span><br>
													</span><span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
												</span></div><div class="e3js0d-8 jtiosv">
													<div class="sxpmji-0 cZUObc">
														<div class="sxpmji-1 dCYttU">
															<span class="currency"></span><strong *ngIf="product.Discount!=0">{{product.afterDiscount|number}}EG</strong>
															<strong *ngIf="product.Discount==0">{{product.price}}EG</strong>
														</div>
														<div *ngIf="product.Discount!=0" class="sxpmji-2 fCLCee"><span class="oldPrice">EGP {{product.price}}</span>
															<span class="discount">{{product.discount}}% Off</span>
														</div>
													</div></div><div class="e3js0d-9 kDpjlW">
															 </div></div></div>
	</ng-template>
  </owl-carousel-o>