.GQzmx {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px auto;
    transition: padding 0.25s ease-in-out 0s;
    padding: 0px 15px;
}
@media only screen and (min-width: 768px)
{
.siteWidthContainer {
    padding: 0 25px;
    min-width: 768px;
    max-width: 1440px;
}
}
.siteWidthContainer {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 768px;
    box-sizing: border-box;
}
.iDVtEU {
    width: 100%;
}
.eQUVID {
    margin-top: 16px;
    font-size: 0.8571rem;
    color: rgb(126, 133, 155);
}
ol, ul {
    list-style: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.hnnSjb {
    display: flex;
    flex: 1 1 100%;
}
.cuGhQB {
    width: 250px;
}
div {
    display: block;
}
.juQrmL:first-child {
    margin-top: 12px;
}
.liJOhO {
    padding: 8px 0px;
    margin-bottom: 8px;
    width: 100%;
}
button {
    background-color: transparent;
    cursor: pointer;
}
input, button, textarea, select {
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    border-radius: 0;
}
.cfEypk {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: -webkit-fill-available;
}
.cfEypk img.open {
    transform: rotate(
360deg
);
}
.cfEypk img {
    transition: all 0.25s ease-in-out 0s;
    margin: 0px 10px;
    transform: rotate(
270deg
);
}
img {
    max-width: 100%;
    display: block;
}
.jiOBmh {
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: height 0.2s ease-in-out 0s;
    margin-right: 10px;
}
.bRBWNx label {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 8px;
    cursor: pointer;
    color: rgb(56, 102, 223);
}
.bRBWNx input[type="checkbox"] {
    display: none;
}
@media only screen and (min-width: 992px){
input, textarea, select {
    font-size: 1rem;
}}
input, textarea, select {
    border: 1px solid #e4f7db;
    font-size: 16px;
}
input, button, textarea, select {
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    border-radius: 0;
}
.bRBWNx .chkbox {
    width: 12px;
    margin-right: 12px;
}
img {
    max-width: 100%;
    display: block;
}
.kRPdZJ {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.kRPdZJ img {
    display: block;
    image-rendering: -webkit-optimize-contrast;
    z-index: 1;

}
img {
    max-width: 100%;
    display: block;
}
.juQrmL:not(:first-child) {
    margin-top: 20px;
}
.liJOhO {
    padding: 8px 0px;
    margin-bottom: 8px;
    width: 100%;
}
button {
    background-color: transparent;
    cursor: pointer;
}
input, button, textarea, select {
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    border-radius: 0;
}
.cfEypk {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: -webkit-fill-available;
}
.cfEypk span {
    font-weight: bold;
    font-size: 1.13333rem;
}
.cfEypk img.open {
    transform: rotate(
360deg
);
}
.cfEypk img {
    transition: all 0.25s ease-in-out 0s;
    margin: 0px 10px;
    transform: rotate(
270deg
);
}
.cfEypk img {
    transition: all 0.25s ease-in-out 0s;
    margin: 0px 10px;
    transform: rotate(
270deg
);
}
img {
    max-width: 100%;
    display: block;
}
.jiOBmh {
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: height 0.2s ease-in-out 0s;
    margin-right: 10px;
}
.bqLnwt ul.level01 {
    padding: 0px 0px 3px;
}
ol, ul {
    list-style: none;
}
.bqLnwt .parent, .bqLnwt .allCats {
    font-weight: bold;
}
.bqLnwt .categoryLink {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 4px 0px;
    width: -webkit-fill-available;
}
button {
    background-color: transparent;
    cursor: pointer;
}
input, button, textarea, select {
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    border-radius: 0;
}
.bqLnwt .categoryLink .linkText {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bqLnwt .categoryLink .counter {
    margin-left: 10px;
    color: rgb(64, 69, 83);
    font-weight: 400;
    font-size: 0.923077rem;
}
.juQrmL:not(:first-child) {
    margin-top: 20px;
}
.liJOhO {
    padding: 8px 0px;
    margin-bottom: 8px;
    width: 100%;
}
button {
    background-color: transparent;
    cursor: pointer;
}
input, button, textarea, select {
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    border-radius: 0;
}
.jiOBmh {
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: height 0.2s ease-in-out 0s;
    margin-right: 10px;
}
.gKInrG {
    cursor: pointer;
}
.gKInrG .searchContainer {
    margin: 0px 0px 15px;
    padding: 4px 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(64, 69, 83);
    border-radius: 2px;
}
.dOHyug {
    margin-right: 5px;
    width: 12px;
}
img {
    max-width: 100%;
    display: block;
}
.gKInrG .searchContainer input {
    border: 0px;
    flex: 1 1 0%;
    font-size: 1rem;
}
@media only screen and (min-width: 992px)
{input, textarea, select {
    font-size: 1rem;
}
}
.bXceLU {
    display: flex;
    margin: 8px 0px;
    padding: 4px 0px;
    font-size: 12px;
    width: -webkit-fill-available;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-transform: capitalize;
    cursor: pointer;
}
element.style {
    display: flex;
    align-items: center;
}
.gKInrG input[type="checkbox"] {
    display: none;
}
@media only screen and (min-width: 992px)
{
input, textarea, select {
    font-size: 1rem;
}
}
.bXceLU img {
    margin-right: 5px;
    width: 14px;
}
img {
    max-width: 100%;
    display: block;
}
element.style {
    display: flex;
    align-items: center;
}
.bXceLU {
    display: flex;
    margin: 8px 0px;
    padding: 4px 0px;
    font-size: 12px;
    width: -webkit-fill-available;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-transform: capitalize;
    cursor: pointer;
}
.bXceLU {
    display: flex;
    margin: 8px 0px;
    padding: 4px 0px;
    font-size: 12px;
    width: -webkit-fill-available;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-transform: capitalize;
    cursor: pointer;
}
.bXceLU {
    display: flex;
    margin: 8px 0px;
    padding: 4px 0px;
    font-size: 12px;
    width: -webkit-fill-available;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-transform: capitalize;
    cursor: pointer;
}
.juQrmL:not(:first-child) {
    margin-top: 20px;
}
.liJOhO {
    padding: 8px 0px;
    margin-bottom: 8px;
    width: 100%;
}
button {
    background-color: transparent;
    cursor: pointer;
}
.cfEypk {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: -webkit-fill-available;
}
.cfEypk span {
    font-weight: bold;
    font-size: 1.13333rem;
}
.cfEypk img.open {
    transform: rotate(
360deg
);
}
.jiOBmh {
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: height 0.2s ease-in-out 0s;
    margin-right: 10px;
}
.enUhaf:last-child {
    margin-bottom: 8px;
}
.enUhaf {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.enUhaf .textInput {
    padding: 9px 10px 8px;
    flex: 1 1 0%;
    min-width: 83px;
    font-size: 12px;
}
.enUhaf .textInput {
    padding: 9px 10px 8px;
    flex: 1 1 0%;
    min-width: 83px;
    font-size: 12px;
}
.enUhaf .between {
    text-transform: uppercase;
    font-size: 0.923077rem;
    font-weight: 600;
    margin: 0px 10px;
    color: rgb(56, 102, 223);
}
button {
    background-color: transparent;
    cursor: pointer;
}
.juQrmL:not(:first-child) {
    margin-top: 20px;
}
.liJOhO {
    padding: 8px 0px;
    margin-bottom: 8px;
    width: 100%;
}
button {
    background-color: transparent;
    cursor: pointer;
}
.cfEypk {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: -webkit-fill-available;
}
.jiOBmh {
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: height 0.2s ease-in-out 0s;
    margin-right: 10px;
}
.dIgdNu {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.juQrmL:not(:first-child) {
    margin-top: 20px;
}
.dIgdNu {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.dIgdNu .selectedRatings {
    margin: 0px 0px 8px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.dIgdNu .selectedRatings .selectedText {
    color: rgb(56, 102, 223);
}
.dIgdNu .selectedRatings .selectedNumber {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.dIgdNu .selectedRatings .leftbrackets, .dIgdNu .selectedRatings .rightbrackets {
    height: 14px;
    width: auto;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.dIgdNu .rateCover {
    display: flex;
    align-items: flex-start;
}
.dIgdNu .rateCover {
    display: flex;
    align-items: flex-start;
}
.dIgdNu .rateCover .rateSubCover {
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.dIgdNu .rateCover .ratingValues .slider {
    appearance: none;
    border-radius: 8px;
    height: 6px;
    width: 100%;
    outline: none;
    padding: 0px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    background: linear-gradient(to right, rgb(204, 204, 204) 0%, rgb(204, 204, 204) 20%, rgb(56, 102, 223) 20%, rgb(56, 102, 223) 100%);
}
.dIgdNu .maxNmin {
    margin: 3px 0px 6px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    font-size: 0.85rem;
    color: rgb(178, 184, 202);
}
.juQrmL:not(:first-child) {
    margin-top: 20px;
}
.liJOhO {
    padding: 8px 0px;
    margin-bottom: 8px;
    width: 100%;
}
.cfEypk {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: -webkit-fill-available;
}
.jiOBmh {
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: height 0.2s ease-in-out 0s;
    margin-right: 10px;
}
.fYgmSf {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(max-content, 65px));
}
.iwkAEu {
    background-color: white;
    border-radius: 3px;
    box-sizing: border-box;
    min-width: 0px;
    max-height: 33px;
    cursor: pointer;
    border-width: 1px;
    border-color: rgb(241, 243, 249);
    border-style: solid;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.2s ease-in-out 0s;
}
.iURKir {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 4px;
}
.dkdIPr input[type="checkbox"] {
    display: none;
}
.iURKir input {
    position: absolute;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0px;
    border: 0px;
}
.ciTngV {
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.ciTngV b {
    white-space: nowrap;
}

strong, b {
    font-weight: bold;
}
.ehqPQo {
    font-size: 10px;
    margin-left: 5px;
}
.jiOBmh {
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: height 0.2s ease-in-out 0s;
    margin-right: 10px;
}
.iYQcOb {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}
.jFWaGI {
    flex: 0 0 50%;
    box-sizing: border-box;
}
.ekLmob {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 4px;
    margin-bottom: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    cursor: pointer;
}
.kNNjWn input[type="checkbox"] {
    display: none;
}
.iDKSuK {
    padding: 2px;
    border: 2px solid transparent;
    min-width: 30px;
}
.ekLmob img {
    flex: 0 0 auto;
    width: 25px;
    height: 25px;
}
img {
    max-width: 100%;
    display: block;
}
.ekLmob .displayLableWrapper {
    flex: 1 1 0%;
    flex-direction: column;
    margin: 0px 5px;
    display: flex;
    align-items: flex-start;
    text-transform: uppercase;
}
.ekLmob .displayLableWrapper .displayLabel {
    margin-right: 4px;
    font-size: 0.76923rem;
}
.ekLmob .displayLableWrapper .countWrapper {
    color: rgb(178, 184, 202);
    font-size: 0.846154rem;
}
.ikCHFE {
    flex: 1 1 0%;
    min-width: 0px;
    margin-left: 30px;
}
.jbdANf {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 12px 0px 5px;
    -webkit-box-align: center;
    align-items: center;
}
.jbdANf {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 12px 0px 5px;
    -webkit-box-align: center;
    align-items: center;
}
.VwxqG.grid .productContainer {
   flex: 0 0 33.3333%;
    padding-left: 8px;
}

.VwxqG .productContainer {
    padding-top: 8px;
   
}
a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
.diNcmV.grid {
    display: flex;
    flex-direction: column;
}

.diNcmV {
    width: 30%;
    // height: 100%;
    display: flex;
    float: left;
    background-color: rgb(255, 255, 255);
    color: rgb(64, 69, 83);
    padding: 15px;
    position: relative;
}
.cVjNKv {
    position: relative;
    margin: -15px -15px 0px;
}
.efqIDW {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.lcZUZz {
    visibility: visible;
    pointer-events: auto;
    z-index: 3;
    width: 30px;
    height: 30px;
    margin-top: 6px;
    margin-right: 6px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgba(245, 245, 245, 0.8);
}
button {
    background-color: transparent;
    cursor: pointer;
}
.lcZUZz img {
    width: 16px;
}

img {
    max-width: 100%;
    display: block;
}
.iKEZJh {
    padding-top: 12px;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
}
.jULUCI {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 8px;
    height: 39.2px;
}
.jtiosv {
    flex: 1 1 0%;
    position: relative;
    z-index: 3;
}
.dCYttU {
    font-size: 1.28571rem;
}
.fCLCee {
    margin-top: 1px;
    font-size: 0.857143rem;
}
.fCLCee .oldPrice {
    text-decoration: line-through;
    color: rgb(126, 133, 155);
    margin-right: 4px;
}
.fCLCee .discount {
    color: rgb(56, 174, 4);
    font-weight: bold;
    text-transform: uppercase;
}
.kDpjlW {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
}
.dSISfG {
    min-height: 16px;
    margin-top: 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.kRPdZJ {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.ktDxXK {
    margin-left: auto;
}
.cEdiKJ {
    font-size: 0.928571rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.cEdiKJ > svg {
    position: relative;
    top: -1px;
}
.cEdiKJ .ratingValue {
    color: rgb(245, 165, 35);
    font-weight: bold;
    margin-left: 2px;
    margin-right: 4px;
}












@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

html,
body {
    height: 100%
}

body {
    display: grid;
    background: #fff;
    font-family: 'Manrope', sans-serif
}

.mydiv {
    margin-top: 50px;
    margin-bottom: 50px
}

.cross {
    font-size: 10px
}

.padding-0 {
    padding-right: 5px;
    padding-left: 5px
}

.img-style {
    margin-left: -11px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 104% !important
}

.m-t-20 {
    margin-top: 20px
}

.bbb_background {
    background-color: #E0E0E0 !important
}

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute
}

.ribbon span {
    position: absolute;
    display: block;
    width: 34px;
    border-radius: 50%;
    padding: 8px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: #fff;
    font: 100 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: center
}

.ribbon-top-right {
    top: -10px;
    right: -10px
}

.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent
}

.ribbon-top-right::before {
    top: 0;
    left: 17px
}

.ribbon-top-right::after {
    bottom: 17px;
    right: 0
}

.sold_stars i {
    color: orange
}

.ribbon-top-right span {
    right: 17px;
    top: 17px
}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.bbb_deals_featured {
    width: 100%
}

.bbb_deals {
    width: 100%;
    margin-right: 7%;
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 34px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 0px
}

.bbb_deals_title {
    position: absolute;
    top: 10px;
    left: 22px;
    font-size: 18px;
    font-weight: 500;
    color: #000000
}

.bbb_deals_slider_container {
    width: 100%
}

.bbb_deals_item {
    width: 100% !important
}

.bbb_deals_image {
    width: 100%
}

.bbb_deals_image img {
    width: 100%
}

.bbb_deals_content {
    margin-top: 33px
}

.bbb_deals_item_category a {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5)
}

.bbb_deals_item_price_a {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6)
}

.bbb_deals_item_price_a strike {
    color: red
}

.bbb_deals_item_name {
    font-size: 24px;
    font-weight: 400;
    color: #000000
}

.bbb_deals_item_price {
    font-size: 24px;
    font-weight: 500;
    color: #6d6e73
}

.available {
    margin-top: 19px
}

.available_title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400
}

.available_title span {
    font-weight: 700
}

@media only screen and (max-width: 991px) {
    .bbb_deals {
        width: 100%;
        margin-right: 0px
    }
}

@media only screen and (max-width: 575px) {
    .bbb_deals {
        padding-left: 15px;
        padding-right: 15px
    }

    .bbb_deals_title {
        left: 15px;
        font-size: 16px
    }

    .bbb_deals_slider_nav_container {
        right: 5px
    }

    .bbb_deals_item_name,
    .bbb_deals_item_price {
        font-size: 20px
    }
}

.gcGfip {
    -webkit-box-flex: 1;
    // flex-grow: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
@media only screen and (min-width: 768px)
{.elsAqw {
    min-height: calc(((100vh - 65px) - 60px) - 20px);
}
}
.elsAqw {
    min-height: calc(((100vh - 50px) - 60px) - 20px);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    padding: 0px 15px;
}
.fvQlVB {
    width: auto;
    height: 30vh;
    margin-bottom: 30px;
    display: block;
}
img {
    max-width: 100%;
    display: block;
}
.gsMyLW {
    margin-bottom: 4px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 24px;
}
.bKKIna {
    color: rgb(64, 69, 83);
    font-size: 1.16667rem;
}
.euzQzm {
    margin-top: 20px;
    width: 250px;
    color: rgb(255, 255, 255);
    background-color: rgb(56, 102, 223);
    border: 1px solid rgb(56, 102, 223);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}
