 <div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>All<b>Order Details For one Order</b></h2>
					</div>
					 
			</div>
            </div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Quantity</th>
						<th>ProductID</th>
						<th>orderID</th>
					</tr>
				</thead>
				<tbody *ngFor="let item of orderDetailsList">
					<tr>
						<td>{{item.quantity}}</td>
						<td>{{item.productID}}</td>
						<td>{{item.orderID}}</td>
						 

						 
					</tr>
					
				</tbody>
				 
				 
             <p> date {{order.orderDate}}</p>
			 <p> total {{order.totalPrice}}</p>
				<div *ngFor="let Product of Products" >
					 

					<tr>
						 
						 
								<div class="aside"><img src="https://i.imgur.com/1eq5kmC.png"
										class="img-sm"></div>
								<figcaption class="info" > <a  class="title text-dark"
										data-abc="true">{{Product.name}}</a>
									<p class="text-muted small">SIZE:{{Product.size}}</p>
									<br>
                              </figcaption>
							<!-- <p> {{orderDetailsList[0].quantity}}</p> -->
							<div *ngFor="let item of orderDetailsList">
							 
								<p *ngIf="item.productID==Product.id">{{item.quantity}}</p> 
							<span *ngIf="item.productID==Product.id">
								 net price={{item.quantity*Product.price}}
							</span>

								 
								<!-- </p> -->
							   </div>

</tr>
				</div>




			</table>
		</div>
	</div>        
</div>




