 <div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>All<b>Order Details For one Order</b></h2>
					</div>
					 
			</div>
            </div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Quantity</th>
						<th>ProductID</th>
						<th>orderID</th>
					</tr>
				</thead>
				<tbody *ngFor="let item of orderDetailsList">
					<tr>
						<td>{{item.quantity}}</td>
						<td>{{item.productID}}</td>
						<td>{{item.orderID}}</td>	 
					</tr>
				</tbody>
			</table>
		</div>
	</div>        
</div>




