 <div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>All<b>Orders</b></h2>
					</div>
					 
			</div>
            </div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>buyer</th>
						<th>DateTime</th>
						<th>TotalPrice</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody *ngFor="let order of OrderList;let i=index">
					<tr>
						<td>{{order.id}}</td>
						 <td>{{users[i].userName}}</td> 
						<td>{{order.orderDate}}</td>
						<td>{{order.totalPrice}}</td>					
						<td> <a class="nav-link" routerLink="/dashboard/panel/orderdetails/{{order.id}}">Details</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>        
</div>
<div class="loader-container" *ngIf='isLoading'>
    <div class="loader"><img src="assets/images/noon-loader.gif" alt="loader"></div>
  </div>



