<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<div  class="container">
    <form #userForm="ngForm" novalidate (ngSubmit)="writeComment()">
       
        <div class="form-group">
    
            <textarea class="form-control" rows="5" name="comment" #comment="ngModel"
                [(ngModel)]="review.comment" style="width: 300px;"></textarea>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="ratetext" #rating="ngModel" [(ngModel)]="review.rating" style="width: 300px;"/> 
             <!-- <span class="fa fa-star" name="star1" (click)="Checked(true)" [ngClass]="{'checked':isChecked}"  [(ngModel)]="review.Rating" ></span>
            <span class="fa fa-star" name="star1" (click)="Checked(true)" [ngClass]="{'checked':isChecked}"></span>
            <span class="fa fa-star" name="star1" (click)="Checked(true)" [ngClass]="{'checked':isChecked}"></span>
            <span class="fa fa-star" name="star1" (click)="Checked(true)" [ngClass]="{'checked':isChecked}"></span>
            <span class="fa fa-star" name="star1" (click)="Checked(true)" [ngClass]="{'checked':isChecked}"></span>  -->
    
        </div>
        <div>
            
            <button type="submit" class="btn btn-info">Create Review</button>
        </div>
    </form>
</div>




<!-- <script type="text/javascript"
    src="chrome-extension://kajfghlhfkcocafkcjlajldicbikpgnp/catcher.js"></script>

<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    <title>Expanding review and rating box - Bootsnipp.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style type="text/css">
        .animated {
            -webkit-transition: height 0.2s;
            -moz-transition: height 0.2s;
            transition: height 0.2s;
        }

        .stars {
            margin: 20px 0;
            font-size: 24px;
            color: #d17581;
        }
    </style>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
           
        var defaultCSS = document.getElementById('bootstrap-css');
        function changeCSS(css) {
            if (css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="' + css + '" type="text/css" />');
            else $('head > link').filter(':first').replaceWith(defaultCSS);
        }
        $(document).ready(function () {
            var iframe_height = parseInt($('html').height());
            window.parent.postMessage(iframe_height, 'https://bootsnipp.com');
        });
    </script>
</head>


    <div class="container">
        <div class="row" style="margin-top:40px;">
            <div class="col-md-6">
                <div class="well well-sm">
                   

                    <div class="row" id="post-review-box" >
                        <div class="col-md-12">
                            <form accept-charset="UTF-8" action="" method="post">
                                <input id="ratings-hidden" name="rating" type="hidden">
                                <textarea class="form-control animated" cols="50" id="new-review" name="comment"
                                    placeholder="Enter your review here..." rows="5"
                                    style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 54px;"></textarea>

                                <div class="text-right">
                                    <div class="stars starrr" data-rating="0"><span
                                            class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span><span
                                            class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span><span
                                            class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span><span
                                            class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span><span
                                            class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span></div>
                                   
                                    <button class="btn btn-success btn-lg" type="submit">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript">
       
      

           

            $('.starrr').on('starrr:change', function (e, value) {
                ratingsField.val(value);
            });
        </script> -->

        <div *ngIf="showimage">
            <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            
            </head>
            
            <div class="container mt-3" >
            
                <div class="media border p-3">
                    <img src="https://bootdey.com/img/Content/User_for_snippets.png" alt="Avatar" alt="John Doe"
                        class="mr-3 mt-3 rounded-circle" style="width:60px;">
                    <div class="media-body">
                        <h4>John Doe</h4>
                        <p>{{review_r.comment}}</p>
                        
                    </div>
                    <div class="media-body">
                        <a href="" (click)="deleteReview(review_r.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                                viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </a>
                        <a href="" (click)="editeReview(review.id,review)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    
