<div style="display: flex;background-color: rgb(243, 241, 241);" *ngIf="hasSubCayegoryProduct">
    <section class="wp1b4p-1 gcGfip">

        <ul class="sc-72vv03-0 eQUVID"></ul>
        <div class="sc-1be8ju5-2 hnnSjb" style="margin-left: 15px;">
            <div class="sc-1be8ju5-3 dUXdcC">
                <div class="sc-1be8ju5-4 cuGhQB">
                    <div data-qa="filter-container">
                        <div class="sc-1y4n57f-0 juQrmL">
                            <div data-qa="Fulfillment" class="sc-1fy0rx2-0 eSqSED"><button type="button"
                                    class="sc-1fy0rx2-1 liJOhO">
                                    <div class="sc-1fy0rx2-3 cfEypk">
                                        <div class="sc-1fy0rx2-3 cfEypk">
                                            <div class="sc-1fy0rx2-3 cfEypk"><span>Fulfillment</span></div><img
                                                class="open"
                                                src="https://z.nooncdn.com/s/app/com/noon/icons/down-chevron.svg"
                                                alt="Fulfillment">
                                        </div>
                                    </div>
                                </button>
                                <div open="" class="sc-1fy0rx2-2 jiOBmh">
                                    <div class="sc-6mc8i3-0 bRBWNx"><label for="is_fbn_1"><input id="is_fbn_1"
                                                type="checkbox"><img 
                                                src="https://z.nooncdn.com/s/app/com/noon/icons/checkbox-square_unchecked.svg"
                                                alt="">
                                            <div class="u8zs36-0 kRPdZJ"><img
                                                    src="https://z.nooncdn.com/s/app/com/noon/images/fulfilment_express_v2-en.svg"
                                                    alt="noon-express" class="fbn" height="20px" width="80px"></div>
                                        </label></div>
                                </div>
                            </div>
                        </div>
                        <div class="sc-1y4n57f-0 juQrmL">
                            <div data-qa="Category" class="sc-1fy0rx2-0 eSqSED"><button type="button"
                                    class="sc-1fy0rx2-1 liJOhO">
                                    <div class="sc-1fy0rx2-3 cfEypk">
                                        <div class="sc-1fy0rx2-3 cfEypk">
                                            <div class="sc-1fy0rx2-3 cfEypk"><span>SubCategory</span></div><img
                                                class="open"
                                                src="https://z.nooncdn.com/s/app/com/noon/icons/down-chevron.svg"
                                                alt="Category">
                                        </div>
                                    </div>
                                </button>
                                <div open="" class="sc-1fy0rx2-2 jiOBmh">
                                    <div class="sc-1uri7ei-0 bqLnwt">
                                        <ul class="level01">
                                            <li>
                                                <div class="categoryLinkContainer  parent " *ngFor="let subcategory of subcategoryList"><button type="button"
                                                        data-qa="filter-cat-Beauty &amp; Health" id="beauty-and-health"
                                                        class="categoryLink"><a routerLink="/subcategoryProduct/{{subcategory.id}}"><div id="beauty-and-health"  (click)="getAllProductInaSpecificSaubCategory()"
                                                            class="linkText">{{subcategory.name}}</div></a><span id="beauty-and-health"
                                                            class="counter">(1548)</span></button></div>
                                              
                                              
                                            </li>
                                         
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc-1y4n57f-0 juQrmL">
                            <div data-qa="Brand" class="sc-1fy0rx2-0 eSqSED"><button type="button"
                                    class="sc-1fy0rx2-1 liJOhO">
                                    <div class="sc-1fy0rx2-3 cfEypk">
                                        <div class="sc-1fy0rx2-3 cfEypk">
                                            <div class="sc-1fy0rx2-3 cfEypk"><span>Brand</span></div><img class="open"
                                                src="https://z.nooncdn.com/s/app/com/noon/icons/down-chevron.svg"
                                                alt="Brand">
                                        </div>
                                    </div>
                                </button>
                                <div open="" class="sc-1fy0rx2-2 jiOBmh">
                                    <div data-qa="brand-filter-list" class="vcf78e-0 gKInrG">
                                        <div class="searchContainer">
                                            <div class="vcf78e-1 dOHyug"><img
                                                    src="https://z.nooncdn.com/s/app/com/noon/icons/search.svg"
                                                    alt="search"></div><input type="text" placeholder="Search "
                                                value="">
                                        </div><label for="brand_adidas" data-qa="brand_adidas" *ngFor="let brand of brandList"
                                            class="vcf78e-2 bXceLU"><span 
                                                style="display: flex; align-items: center;"><input id="brand_adidas"
                                                    type="checkbox" value="adidas" checked=""><img
                                                    src="https://z.nooncdn.com/s/app/com/noon/icons/checkbox-square_unchecked.svg"
                                                    alt=""><span (click)="getProductsInBrand(brand.id)">{{brand.name}}</span></span><span>&nbsp;(70)</span></label><button
                                            type="button" data-qa="btn-see-all" class="limitToggle"
                                            aria-label="See All">See All</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc-1y4n57f-0 juQrmL">
                            <div data-qa="Price (EGP)" class="sc-1fy0rx2-0 eSqSED"><button type="button"
                                    class="sc-1fy0rx2-1 liJOhO">
                                    <div class="sc-1fy0rx2-3 cfEypk">
                                        <div class="sc-1fy0rx2-3 cfEypk">
                                            <div class="sc-1fy0rx2-3 cfEypk"><span>Price (EGP)</span></div><img
                                                class="open"
                                                src="https://z.nooncdn.com/s/app/com/noon/icons/down-chevron.svg"
                                                alt="Price (EGP)">
                                        </div>
                                    </div>
                                </button>
                                <div open="" class="sc-1fy0rx2-2 jiOBmh">
                                    <div class="bialit-0 enUhaf">
                                        <input type="number" #minprice name="min" class="textInput"
                                            aria-label="min" data-qa="filter-min-input" value="0">
                                        <span
                                            class="between to">To</span>
                                        <input type="number" #maxprice name="max"
                                            class="textInput" aria-label="max" data-qa="filter-max-input"
                                        value="0">
                                            <button class="between" type="button"
                                            data-qa="filter-price-btn" (click)="getProductbuSubCategory(minprice.value,maxprice.value)">go</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="sc-1y4n57f-0 juQrmL">
                            <div data-qa="Product Rating" class="sc-1fy0rx2-0 eSqSED"><button type="button"
                                    class="sc-1fy0rx2-1 liJOhO">
                                    <div class="sc-1fy0rx2-3 cfEypk">
                                        <div class="sc-1fy0rx2-3 cfEypk">
                                            <div class="sc-1fy0rx2-3 cfEypk"><span>Product Rating</span>
                                                <div class="sc-1fy0rx2-4 rdgvn">Clear</div>
                                            </div><img class="open"
                                                src="https://z.nooncdn.com/s/app/com/noon/icons/down-chevron.svg"
                                                alt="Product Rating">
                                        </div>
                                    </div>
                                </button>
                                <div open="" class="sc-1fy0rx2-2 jiOBmh">
                                    <div class="sc-909yfc-0 dIgdNu">
                                        <div class="selectedRatings"><span class="selectedText">1.8 Stars or
                                                More</span><span class="selectedNumber"><svg width="42" height="144"
                                                    viewBox="0 0 42 144" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                    class="leftbrackets">
                                                    <path
                                                        d="M39.185 2.14125C36.33 -0.71375 31.706 -0.71375 28.851 2.14125C-9.617 40.6092 -9.617 103.201 28.851 141.668C30.279 143.097 32.149 143.811 34.018 143.811C35.887 143.811 37.757 143.097 39.185 141.671C42.04 138.817 42.04 134.19 39.185 131.334C6.417 98.5632 6.417 45.2453 39.185 12.4753C42.039 9.62325 42.039 4.99625 39.185 2.14125Z"
                                                        fill="black"></path>
                                                </svg>2990<svg width="42" height="144" viewBox="0 0 42 144" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" class="rightbrackets">
                                                    <path
                                                        d="M2.539 141.673C3.966 143.098 5.837 143.812 7.705 143.812C9.574 143.812 11.444 143.098 12.872 141.669C51.341 103.201 51.341 40.6103 12.872 2.14226C10.018 -0.712744 5.393 -0.712744 2.539 2.14226C-0.315002 4.99526 -0.315002 9.62326 2.539 12.4763C35.308 45.2463 35.308 98.5633 2.539 131.335C-0.315002 134.188 -0.315002 138.816 2.539 141.673Z"
                                                        fill="black"></path>
                                                </svg></span></div>
                                        <div class="rateCover">
                                            <div class="rateSubCover">
                                                <div class="ratingValues"><input type="range" min="0" max="40"
                                                        class="slider" value="8"></div>
                                                <div class="maxNmin"><span class="minVal">1 Star</span><span
                                                        class="maxVal">5 Star</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc-1y4n57f-0 juQrmL">
                            <div data-qa="Size" class="sc-1fy0rx2-0 eSqSED"><button type="button"
                                    class="sc-1fy0rx2-1 liJOhO">
                                    <div class="sc-1fy0rx2-3 cfEypk">
                                        <div class="sc-1fy0rx2-3 cfEypk">
                                            <div class="sc-1fy0rx2-3 cfEypk"><span>Size</span></div><img class="open"
                                                src="https://z.nooncdn.com/s/app/com/noon/icons/down-chevron.svg"
                                                alt="Size">
                                        </div>
                                    </div>
                                </button>

                                <div open="" class="sc-1fy0rx2-2 jiOBmh">
                                    <div data-qa="colour-filter" class="sc-1idsysv-0 kNNjWn">
                                        <div class="sc-1idsysv-1 iYQcOb"><label *ngFor="let size of UniqeSize" for="black" data-qa="color-filter-Black"
                                                class="sc-1idsysv-2 jFWaGI"><span class="sc-1idsysv-4 ekLmob"><input
                                                        type="checkbox" id="black" value="black" checked=""><span
                                                        class="sc-1idsysv-3 iDKSuK"></span>
                                                    <div class="displayLableWrapper" (click)="getProductInSize(size)">
                                                        <div class="displayLabel" >{{size}}</div>
                                                        <div class="countWrapper">(405)</div>
                                                    </div>
                                                </span></label></div><button type="button" data-qa="btn-see-all"
                                            class="limitToggle" aria-label="See All">See All</button>
                                    </div>
                                </div>

                                <!-- <div open="" class="sc-1fy0rx2-2 jiOBmh">
                                    <div >
                                        <div class="sc-1h366nc-1 fYgmSf"><label *ngFor="let size of UniqeSize" for="black" data-qa="color-filter-Black"
                                            class="sc-1idsysv-2 jFWaGI"><span class="sc-1idsysv-4 ekLmob"><input
                                                    type="checkbox" id="black" value="black" checked=""><span
                                                    class="sc-1idsysv-3 iDKSuK"><img
                                                        src="https://z.nooncdn.com/cms/pages/20181025/0ce4c3a5d392155933d4571ef91fc179/black.svg"
                                                        alt="Black"></span>
                                                <div class="displayLableWrapper">
                                                    <div class="displayLabel" (click)="getProductInSize(size)">{{size}}</div>
                                                    <div class="countWrapper">(405)</div>
                                                </div>
                                            </span></label></div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="sc-1y4n57f-0 juQrmL">
                            <div data-qa="New Arrivals" class="sc-1fy0rx2-0 eSqSED"><button type="button"
                                    class="sc-1fy0rx2-1 liJOhO">
                                    <div class="sc-1fy0rx2-3 cfEypk">
                                        <div class="sc-1fy0rx2-3 cfEypk">
                                            <div class="sc-1fy0rx2-3 cfEypk"><span>New Arrivals</span></div><img
                                                class="open"
                                                src="https://z.nooncdn.com/s/app/com/noon/icons/down-chevron.svg"
                                                alt="New Arrivals">
                                        </div>
                                    </div>
                                </button>
                                <div open="" class="sc-1fy0rx2-2 jiOBmh">
                                    <div data-qa="brand-filter-list" class="vcf78e-0 gKInrG"><label
                                            for="new_arrivals_30_days" data-qa="new_arrivals_Last 30 Days"
                                            class="vcf78e-2 bXceLU"><span
                                                style="display: flex; align-items: center;"><input
                                                    id="new_arrivals_30_days" type="checkbox" value="30_days"
                                                    checked=""><img
                                                    src="https://z.nooncdn.com/s/app/com/noon/icons/checkbox-square_unchecked.svg"
                                                    alt="">Last 30 Days</span><span>&nbsp;(90)</span></label><label
                                            for="new_arrivals_60_days" data-qa="new_arrivals_Last 60 Days"
                                            class="vcf78e-2 bXceLU"><span
                                                style="display: flex; align-items: center;"><input
                                                    id="new_arrivals_60_days" type="checkbox" value="60_days"
                                                    checked=""><img
                                                    src="https://z.nooncdn.com/s/app/com/noon/icons/checkbox-square_unchecked.svg"
                                                    alt="">Last 60 Days</span><span>&nbsp;(152)</span></label></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="sc-1y4n57f-0 juQrmL">
                            <div data-qa="Colour" class="sc-1fy0rx2-0 eSqSED"><button type="button"
                                    class="sc-1fy0rx2-1 liJOhO">
                                    <div class="sc-1fy0rx2-3 cfEypk">
                                        <div class="sc-1fy0rx2-3 cfEypk">
                                            <div class="sc-1fy0rx2-3 cfEypk"><span>Color</span></div><img class="open"
                                                src="https://z.nooncdn.com/s/app/com/noon/icons/down-chevron.svg"
                                                alt="Colour">
                                        </div>
                                    </div>
                                </button>
                                <div open="" class="sc-1fy0rx2-2 jiOBmh">
                                    <div data-qa="colour-filter" class="sc-1idsysv-0 kNNjWn">
                                        <div class="sc-1idsysv-1 iYQcOb"><label *ngFor="let color of UniqeColor" for="black" data-qa="color-filter-Black"
                                                class="sc-1idsysv-2 jFWaGI"><span class="sc-1idsysv-4 ekLmob"><input
                                                        type="checkbox" id="black" value="black" checked=""><span
                                                        class="sc-1idsysv-3 iDKSuK"><img
                                                            src="https://z.nooncdn.com/cms/pages/20181025/0ce4c3a5d392155933d4571ef91fc179/black.svg"
                                                            alt="Black"></span>
                                                    <div class="displayLableWrapper">
                                                        <div class="displayLabel">{{color}}</div>
                                                        <div class="countWrapper">(405)</div>
                                                    </div>
                                                </span></label></div><button type="button" data-qa="btn-see-all"
                                            class="limitToggle" aria-label="See All">See All</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc-1y4n57f-0 juQrmL">
                            <div data-qa="Seller" class="sc-1fy0rx2-0 eSqSED"><button type="button"
                                    class="sc-1fy0rx2-1 liJOhO">
                                    <div class="sc-1fy0rx2-3 cfEypk">
                                        <div class="sc-1fy0rx2-3 cfEypk">
                                            <div class="sc-1fy0rx2-3 cfEypk"><span>Seller</span></div><img class="open"
                                                src="https://z.nooncdn.com/s/app/com/noon/icons/down-chevron.svg"
                                                alt="Seller">
                                        </div>
                                    </div>
                                </button>
                                <div open="" class="sc-1fy0rx2-2 jiOBmh">
                                    <div>
                                    <div data-qa="brand-filter-list" class="vcf78e-0 gKInrG" *ngFor="let supplier of supplierList"><label for="partner_p_1"
                                            data-qa="partner_noon" class="vcf78e-2 bXceLU" (click)="getAllProductsInSupplier(supplier.id)"><span
                                                style="display: flex; align-items: center;"><input id="partner_p_1"
                                                    type="checkbox" value="p_1" checked=""><img
                                                    src="https://z.nooncdn.com/s/app/com/noon/icons/checkbox-square_unchecked.svg"
                                                    alt="">{{supplier.name}}</span><span>&nbsp;(323)</span></label>
                                                </div>
                                                    <button type="button"
                                            data-qa="btn-see-all" class="limitToggle" aria-label="See All">See
                                            All</button></div>
                                </div>
                            </div>
                        </div>
                  
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <section style="margin-left:10px;">
        <div class="container mydiv" >
            <div style="margin: 5px;display: flex;" class="productContainer" *ngFor="let product of productList"><a
                href="http://localhost:4200/home/productPage/{{product.id}}"
                    id="productBox-N14428169A">
                    <div class="kcs0h5-0 diNcmV grid" title="Parachute 100% Pure Coconut Oil 200ml ">
                        <div class="e3js0d-0 cVjNKv">
                            <div data-qa-id="productImagePLP_100% Pure Coconut Oil 200ml ">
                                <div class="sc-1xjgu8-0 jRkpWF">
                                    <div class="lazyload-wrapper">
                                        <div class="sc-1xjgu8-2 lgLLLe"><img width="100%" height="100%"
                                                src="http://localhost:61135/Resources/Images/{{product.mainImage}}"
                                            
                                                alt="100% Pure Coconut Oil 200ml "></div>
                                    </div>
                                </div>
                            </div>
                            <div class="e3js0d-1 efqIDW"><button type="button" class="e3js0d-3 lcZUZz" (click)="addToWishist(product.id)"><img
                                        src="https://z.nooncdn.com/s/app/com/noon/icons/wishlist.svg"
                                        alt="wishlist"></button></div>
                            <div class="e3js0d-4 gXZEZv"></div>
                        </div>
                        <div class="e3js0d-6 iKEZJh">
                            <div data-qa="product-name" class="e3js0d-7 jULUCI"><span width="0"><span>
                                        <span>
                                            {{product.name}}</span><br><span>{{product.name}} </span></span><span
                                        style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span></span>
                            </div>
                            <div class="e3js0d-8 jtiosv">
                                <div class="sxpmji-0 cZUObc">
                                    <div class="sxpmji-1 dCYttU"><span class="currency">EGP
                                        </span><strong>{{product.price}}$</strong>
                                    </div>
                                    <div class="sxpmji-2 fCLCee"><span class="oldPrice">EGP 190</span><span
                                            class="discount">48% Off</span></div>
                                </div>
                            </div>
                            <div class="e3js0d-9 kDpjlW">
                                <div data-qa="product-noon-express" class="e3js0d-10 dSISfG">
                                    <div class="u8zs36-0 kRPdZJ"><img
                                            src="https://z.nooncdn.com/s/app/com/noon/images/fulfilment_express_v2-en.svg"
                                            alt="noon-express" height="20px" width="80px"></div>
                                    <div class="e3js0d-11 ktDxXK">
                                        <div class="v8jvnr-0 cEdiKJ"><svg width="12" height="12" viewBox="0 0 12 12"
                                                fill="none" xmlns="http://www.w3.org/2000/svg" class="oneStar">
                                                <path
                                                    d="M11.7519 5.34021L9.33396 7.42268C9.19635 7.54639 9.11772 7.75258 9.17669 7.93814L9.90404 11.0722C10.0023 11.5876 9.64848 12 9.23567 12C9.11772 12 8.98011 11.9588 8.86217 11.8763L6.22801 10.1649C6.07075 10.0619 5.87417 10.0619 5.7169 10.1649L3.1024 11.8557C2.98446 11.9381 2.84685 11.9794 2.7289 11.9794C2.31609 11.9794 1.92293 11.567 2.06053 11.0515L2.78788 7.91753C2.82719 7.73196 2.76822 7.52577 2.63061 7.40206L0.252007 5.34021C-0.23944 4.90722 0.0357703 4.06186 0.664823 4.02062L3.75111 3.79381C3.92803 3.7732 4.0853 3.64948 4.16393 3.48454L5.3434 0.474227C5.46135 0.164949 5.73656 0 6.01177 0C6.28698 0 6.56219 0.164949 6.68014 0.474227L7.85961 3.48454C7.93825 3.6701 8.09551 3.79381 8.27243 3.79381L11.3587 4.02062C11.9485 4.06186 12.2433 4.90722 11.7519 5.34021Z"
                                                    fill="#f5a523"></path>
                                            </svg><span class="ratingValue">4.5</span><span class="ratingCount"><svg
                                                    width="3" height="10" viewBox="0 0 3 11" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M2.244 10.188C1.464 8.676 0.984 7.296 0.984 5.304C0.984 3.3 1.464 1.932 2.244 0.408L1.692 0C0.612 1.488 0 3.372 0 5.304C0 7.236 0.612 9.12 1.692 10.608L2.244 10.188Z"
                                                        fill="currentColor"></path>
                                                </svg><span class="count">46</span><svg width="3" height="10"
                                                    viewBox="0 0 3 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                    style="transform: scaleX(-1);">
                                                    <path
                                                        d="M2.244 10.188C1.464 8.676 0.984 7.296 0.984 5.304C0.984 3.3 1.464 1.932 2.244 0.408L1.692 0C0.612 1.488 0 3.372 0 5.304C0 7.236 0.612 9.12 1.692 10.608L2.244 10.188Z"
                                                        fill="currentColor"></path>
                                                </svg></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a></div>
                </div>

        </div>
     
    </section>
   
 
    
  
</div>
   







<section *ngIf="!hasSubCayegoryProduct" class="wp1b4p-1 gcGfip">
    <div class="srmyyt-0 elsAqw"><img src="https://z.nooncdn.com/s/app/com/noon/images/empty-state-cart.svg"
            alt="Your shopping cart looks empty" class="srmyyt-1 fvQlVB">
        <p class="srmyyt-2 gsMyLW">{{content}} </p>
        <p class="srmyyt-3 bKKIna">What are you waiting for?</p><button routerLink="/home" type="button" aria-label="Start Shopping"
            class="srmyyt-4 euzQzm">Start Shopping</button>
    </div>
</section>


