<div style="display: flex;background-color: rgb(243, 241, 241);" *ngIf="hasSubCayegoryProduct">
    <section class="wp1b4p-1 gcGfip">

        <ul class="sc-72vv03-0 eQUVID"></ul>
        <div class="sc-1be8ju5-2 hnnSjb" style="margin-left: 15px;">
            <div class="sc-1be8ju5-3 dUXdcC">
                <div class="sc-1be8ju5-4 cuGhQB">
                    <div data-qa="filter-container">
                        <div class="sc-1y4n57f-0 juQrmL">
               
                        </div>
                        <div class="sc-1y4n57f-0 juQrmL">
                            <div data-qa="Category" class="sc-1fy0rx2-0 eSqSED"><button type="button"
                                    class="sc-1fy0rx2-1 liJOhO">
                                    <div class="sc-1fy0rx2-3 cfEypk">
                                        <div class="sc-1fy0rx2-3 cfEypk">
                                            <div class="sc-1fy0rx2-3 cfEypk"><span>SubCategory</span></div><img
                                                class="open"
                                                src="https://z.nooncdn.com/s/app/com/noon/icons/down-chevron.svg"
                                                alt="Category">
                                        </div>
                                    </div>
                                </button>
                                <div open="" class="sc-1fy0rx2-2 jiOBmh">
                                    <div class="sc-1uri7ei-0 bqLnwt">
                                        <ul class="level01">
                                            <li>
                                                <div class="categoryLinkContainer  parent " *ngFor="let subcategory of subcategoryList"><button type="button"
                                                        data-qa="filter-cat-Beauty &amp; Health" id="beauty-and-health"
                                                        class="categoryLink"><a routerLink="/subcategoryProduct/{{subcategory.id}}"><div id="beauty-and-health"  (click)="getAllProductInaSpecificSaubCategory()"
                                                            class="linkText">{{subcategory.name}}</div></a></button></div>
                                              
                                              
                                            </li>
                                         
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc-1y4n57f-0 juQrmL">
                            <div data-qa="Brand" class="sc-1fy0rx2-0 eSqSED"><button type="button"
                                    class="sc-1fy0rx2-1 liJOhO">
                                    <div class="sc-1fy0rx2-3 cfEypk">
                                        <div class="sc-1fy0rx2-3 cfEypk">
                                            <div class="sc-1fy0rx2-3 cfEypk"><span>Brand</span></div><img class="open"
                                                src="https://z.nooncdn.com/s/app/com/noon/icons/down-chevron.svg"
                                                alt="Brand">
                                        </div>
                                    </div>
                                </button>
                                <div open="" class="sc-1fy0rx2-2 jiOBmh">
                                    <div data-qa="brand-filter-list" class="vcf78e-0 gKInrG">
                                      <label for="brand_adidas" data-qa="brand_adidas" *ngFor="let brand of brandList" 
                                            class="vcf78e-2 bXceLU"><span 
                                                style="display: flex; align-items: center;">    <span (click)="getProductsInBrand(brand.id)">{{brand.name}}</span></span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc-1y4n57f-0 juQrmL">
                            <div data-qa="Price (EGP)" class="sc-1fy0rx2-0 eSqSED"><button type="button"
                                    class="sc-1fy0rx2-1 liJOhO">
                                    <div class="sc-1fy0rx2-3 cfEypk">
                                        <div class="sc-1fy0rx2-3 cfEypk">
                                            <div class="sc-1fy0rx2-3 cfEypk"><span>Price (EGP)</span></div><img
                                                class="open"
                                                src="https://z.nooncdn.com/s/app/com/noon/icons/down-chevron.svg"
                                                alt="Price (EGP)">
                                        </div>
                                    </div>
                                </button>
                                <div open="" class="sc-1fy0rx2-2 jiOBmh">
                                    <div class="bialit-0 enUhaf">
                                        <input type="number" #minprice name="min" class="textInput"
                                            aria-label="min" data-qa="filter-min-input" value="0">
                                        <span
                                            class="between to">To</span>
                                        <input type="number" #maxprice name="max"
                                            class="textInput" aria-label="max" data-qa="filter-max-input"
                                        value="0">
                                            <button class="between" type="button"
                                            data-qa="filter-price-btn" (click)="getProductbuSubCategory(minprice.value,maxprice.value)">go</button></div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="sc-1y4n57f-0 juQrmL">
                            <div data-qa="Size" class="sc-1fy0rx2-0 eSqSED"><button type="button"
                                    class="sc-1fy0rx2-1 liJOhO">
                                    <div class="sc-1fy0rx2-3 cfEypk">
                                        <div class="sc-1fy0rx2-3 cfEypk">
                                            <div class="sc-1fy0rx2-3 cfEypk"><span>Size</span></div><img class="open"
                                                src="https://z.nooncdn.com/s/app/com/noon/icons/down-chevron.svg"
                                                alt="Size">
                                        </div>
                                    </div>
                                </button>

                                <div open="" class="sc-1fy0rx2-2 jiOBmh">
                                    <div data-qa="colour-filter" class="sc-1idsysv-0 kNNjWn">
                                        <div class="sc-1idsysv-1 iYQcOb"><label *ngFor="let size of UniqeSize" for="black" data-qa="color-filter-Black"
                                                class="sc-1idsysv-2 jFWaGI"><span class="sc-1idsysv-4 ekLmob"><input
                                                        type="checkbox" id="black" value="black" checked=""><span
                                                        class="sc-1idsysv-3 iDKSuK"></span>
                                                    <div class="displayLableWrapper" (click)="getProductInSize(size)">
                                                        <div class="displayLabel" >{{size}}</div>
                                                        
                                                    </div>
                                                </span></label></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                       
                        
                        <div class="sc-1y4n57f-0 juQrmL">
                            <div data-qa="Colour" class="sc-1fy0rx2-0 eSqSED"><button type="button"
                                    class="sc-1fy0rx2-1 liJOhO">
                                    <div class="sc-1fy0rx2-3 cfEypk">
                                        <div class="sc-1fy0rx2-3 cfEypk">
                                            <div class="sc-1fy0rx2-3 cfEypk"><span>Color</span></div><img class="open"
                                                src="https://z.nooncdn.com/s/app/com/noon/icons/down-chevron.svg"
                                                alt="Colour">
                                        </div>
                                    </div>
                                </button>
                                <div open="" class="sc-1fy0rx2-2 jiOBmh">
                                    <div data-qa="colour-filter" class="sc-1idsysv-0 kNNjWn">
                                        <div class="sc-1idsysv-1 iYQcOb"><label *ngFor="let color of UniqeColor" for="black" data-qa="color-filter-Black"
                                                class="sc-1idsysv-2 jFWaGI"><span class="sc-1idsysv-4 ekLmob"><input
                                                        type="checkbox" id="black" value="black" checked=""><span
                                                        class="sc-1idsysv-3 iDKSuK"></span>
                                                    <div class="displayLableWrapper">
                                                        <div class="displayLabel" [ngStyle]="{'background-color':color}">
                                                        </div>
                                                        
                                                    </div>
                                                </span></label></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc-1y4n57f-0 juQrmL">
                            <div data-qa="Seller" class="sc-1fy0rx2-0 eSqSED"><button type="button"
                                    class="sc-1fy0rx2-1 liJOhO">
                                    <div class="sc-1fy0rx2-3 cfEypk">
                                        <div class="sc-1fy0rx2-3 cfEypk">
                                            <div class="sc-1fy0rx2-3 cfEypk"><span>Seller</span></div><img class="open"
                                                src="https://z.nooncdn.com/s/app/com/noon/icons/down-chevron.svg"
                                                alt="Seller">
                                        </div>
                                    </div>
                                </button>
                                <div open="" class="sc-1fy0rx2-2 jiOBmh">
                                    <div>
                                    <div data-qa="brand-filter-list" class="vcf78e-0 gKInrG" *ngFor="let supplier of supplierList"><label for="partner_p_1"
                                            data-qa="partner_noon" class="vcf78e-2 bXceLU" (click)="getAllProductsInSupplier(supplier.id)"><span
                                                style="display: flex; align-items: center;">{{supplier.name}}</span></label>
                                                </div>
                                                  </div>
                                </div>
                            </div>
                        </div>
                  
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <div class='ikCHFE'>
        <div class='VwxqG grid'>
           <div class="productContainer" *ngFor="let product of productList">
                <div class='diNcmV grid'>
                    <!---------product-image-container-->
                  <div class='cVjNKv'>
                     <div>
                         <div class=jRkpWF>
                            <a routerLink="/home/productPage/{{product.id}}">
                             <div class='lgLLLe'>
                                <img width="100%" height="100%" src="http://localhost:61135/Resources/Images/{{product.mainImage}}" alt="product-img ">
                             </div>
                             </a>
                         </div>
                     </div>
                     <div class="e3js0d-1 efqIDW">
                      <button type="button" (click)='addToWishist(product.id)' class="e3js0d-3 yzKfW">
                          <img src="https://z.nooncdn.com/s/app/com/noon/icons/wishlist.svg" alt="wishlist">
                        </button>
                    </div>
                    <div class="e3js0d-4 gXZEZv"></div>
                  </div>
                  <!------------product-details----------------->
                  <div class="e3js0d-6 iKEZJh">
                      <div data-qa="product-name" class="e3js0d-7 jULUCI">
                          <span width="0"><span>
                              <span>{{product.name}}</span><br>
                            </span>
                            <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span></span>
                        </div>
                        <div class="e3js0d-8 jtiosv">
                            <div class="sxpmji-0 cZUObc">
                                <div class="sxpmji-1 dCYttU">
                                    <span class="currency">EGP </span><strong *ngIf="product.Discount!=0">{{product.afterDiscount}}$</strong>
                                    <strong *ngIf="product.Discount==0">{{product.price}}$</strong>
                                </div>
                                <div *ngIf="product.Discount!=0" class="sxpmji-2 fCLCee"><span class="oldPrice">EGP {{product.price}}</span>
                                    <span class="discount">{{product.discount}}% Off</span>
                                </div>
                            </div></div>
                                <div class="e3js0d-9 kDpjlW"> 
                                    </div></div>
                            </div>
           </div>
        </div>
        <div class="row" *ngIf="!isfound">
            <div class="text-center alert alert-danger col-9 mx-auto">
                There's no Products in this {{content}} with this subcategory to show
            </div>
        </div>    
      </div>
</div>
   







<!-- <section *ngIf="!hasSubCayegoryProduct" class="wp1b4p-1 gcGfip">
    <div class="srmyyt-0 elsAqw"><img src="https://z.nooncdn.com/s/app/com/noon/images/empty-state-cart.svg"
            alt="Your shopping cart looks empty" class="srmyyt-1 fvQlVB">
        <p class="srmyyt-2 gsMyLW">{{content}} </p>
        <p class="srmyyt-3 bKKIna">What are you waiting for?</p><button routerLink="/home" type="button" aria-label="Start Shopping"
            class="srmyyt-4 euzQzm">Start Shopping</button>
    </div>
</section> -->
<div class="loader-container" *ngIf='isLoading'>
    <div class="loader"><img src="assets/images/noon-loader.gif" alt="loader"></div>
  </div>

