
  
 <!DOCTYPE html>
<html>
  <head>
   <title>Bootstrap Example</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
 
  </head>
<body>
  
    <div class="contain" style="margin-top: -6px;text-align: center;">
    <div *ngFor="let subCategory of SubcategoriesList">
    <div class="circular--portrait">
      <a href="#">
      <img  src='http://localhost:61135/Resources/Images/{{subCategory.image}}'>
        <!-- <img  src="../../../../assets/images/carsual1.png" > -->
      </a>
  </div>
  <h2>{{subCategory.name}}</h2>
</div>
</div>
</body>
</html> 
