<!-- <div class="new_arrivals text-center ">
	<h2 class="my_h text-uppercase font-weight-bold" >Our Products</h2>
	<owl-carousel [options]="customOptions"> 

	  <div style="float: left;" carouselSlide  *ngFor="let product of productList">
		<div class="slide" >
		  <div class="ad" routerLink="productPage/{{product.id}}">
			<div class="image"><img class="w-100"  src="../../../../assets/images/download (1).jfif"></div>
			<div class="text">
			  <p class="w-50 mx-auto mt-4" > {{product.name}} </p>
			  <p class="w-50 mx-auto mt-1" > <i class="fas fa-tag"></i> asd </p>
			  <p class="price">{{product.price}} $</p>
			</div>
		  </div>
		</div>
	  </div>
	</owl-carousel>
  </div>
<div style="clear: both;"></div>  -->
